body {
    margin: 0;
    text-align: center;
    color: white;
    position: relative;
    font-family: 'Encode Sans Expanded';
}

div {
    display: block;
}

.top {
    position: relative;
    padding: 100px 0 300px 0;
    background-color: #3F4E4F;
}

.middle {
    padding-top: 100px;
    background-color: #A27B5C;
    padding-bottom: 50px;
}

.bottom {
    background-color: #8e6b4f;
    padding: 10px;
}

.hr_bottom {
    color: #3F4E4F;
    border-top: 10px dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    position: relative;
    bottom: 22px;
}

h1 {
    font-family: 'Autour one'; font-size: 38px;
    color: #A27B5C;
}

h2 {
    font-family: 'DynaPuff'; font-size: 28px;
    color: #76BA99;

}

h3 {
    color: aliceblue;
}

.img1 {
    margin-top: 50px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    margin-bottom: 50px;
}

.cloud {
    position: absolute;
    bottom: 250px;
    width: 3cm;
    right: 300px;
}

.cloud2 {
    position: absolute;
    width: 3cm;
    bottom: 200px;
    left: 300px;

}

.mountain {
    position: absolute;
    bottom: 0px;
    right: 450px;
}

.tree {
    position: absolute;
    width: 5.3cm;
    right: 120px;
    top: 380px;
    right: 380px;

}

.tree2 {
    position: absolute;
    width: 4cm;
    top: 420px;
    left: 400px;

}

.coder {
    width: 5cm;
    position: absolute;
    top: 450px;
    right: 460px;

}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.hr_style {
    margin: auto;
    width: 35%;
    color: #3F4E4F;
    border-top: 10px dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.button {
    background-color: #A27B5C;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: aliceblue;
  }

  .contact_top {
    position: relative;
    background-color: #3F4E4F;
    padding-bottom: 50px;;
  }

  .contact_h1 {
    font-family: 'Autour one'; font-size: 38px;
    color: #A27B5C;
    margin-top: 0;
    padding-top: 50px;
}

.contact_middle {
    background-color: #3F4E4F;
}

.contact_p {
    margin: 0;
}

.contact_hr_style {
    margin: auto;
    width: 35%;
    border-top: 10px dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #A27B5C;
}

.contact_body {
    background-color: #3F4E4F;
    margin: 0;
}

.column {
    float: left;
    width: 20%;
    margin: auto;
    position: relative;
    left: 400px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.list {
    list-style: none;
}

.column2 {
    float: left;
    width: 20%;
    margin: auto;
    position: relative;
    left: 290px;
}

.row2::after {
    content: "";
    display: table;
    clear: both;

}

.list2 {
    list-style: none;
}

.column3 {
    float: left;
    width: 20%;
    position: relative;
    left: 290px;
    padding-bottom: 100px;
}

.row3::after {
    content: "";
    display: table;
    clear: both;
}

.list3 {
    list-style: none;
}

.column_contact {
    float: left;
    width: 10%;
    position: relative;
    left: 600px;
}

.row_contact::after {
    content: "";
    display: table;
    clear: both;
}

.list_contact {
    list-style: none;
}